{{#if showMobileOverlay}}
    <div class="mobile-overlay" {{action "close"}}></div>
{{/if}}
<div class="select-box__wrapper">
	{{#if nativeSelect}}
		{{select-light
			name=selectId
			id=selectId
			class="mdl-textfield__input"
			placeholder=placeholder
			value=selected
			valueKey=valueKey
			displayKey=displayKey
			options=options
			change=(action "selectItem" value="target.value")
			}}
		<i class="icon-expand"></i>
	{{else}}
		<i class="icon-expand"></i>
		<input type="text" class="mdl-textfield__input select-box__dropdown" id="{{selectId}}" aria-labelled-by="{{labelId}}" value="{{selectedDisplay}}"  readonly=true onclick={{action "open"}}>
		{{#unless emptyOptions}}
			<div class="select-box__dropdown-container {{if searchableOptions "searchable"}} {{if dropdownOpen "open"}}">
				{{#if showMobileHeader}}
                    <div class="select-box__dropdown-header">
                        {{#if showMobileSearch}}
                            {{input placeholder=label value=queryString}}
                            <i class="icon-close" {{action "clearQuery"}}></i>
                        {{else}}
                            <div class="select-box_dropdown-label">{{label}}</div>
                            {{#if searchableOptions}}
                                <i class="icon-search" {{action "searchOptions"}}></i>
                            {{/if}}
                        {{/if}}
                    </div>
				{{/if}}
				<ol class="select-box__dropdown-list {{if showMobileSearch "search-visible"}}">
					{{#each filterableOptions as |option index|}}
						{{#if isDeepOptions}}
							<li data-test-id={{concat "sbDeepOption" index}}> <a {{action  "selectItem" option}} class="{{if (eq selected (get option valueKey)) "selected"}} {{if option.filtered "filtered"}}" href="#" >{{get option displayKey}}</a></li>
						{{else}}
							<li data-test-id={{concat "sbFlatOption" index}}> <a {{action  "selectItem" option.val}} class="{{if (eq selected option.val) "selected"}} {{if option.filtered "filtered"}}" href="#" >{{option.val}}</a></li>
						{{/if}}
					{{/each}}
					{{#if showEmptyState}}
						<div class="select-box__dropdown-empty empty-state">
							<i class="icon-search"></i>
							<p>No results found</p>
						</div>
					{{/if}}
				</ol>
			</div>
		{{/unless}}
	{{/if}}
</div>