{{#if showModalOverlay}}
    <div class="unified-select-modal-overlay" {{action "close"}}></div>
{{/if}}
<div class="unified-select-wrapper">
    {{#if nativeSelect}}
        {{select-light
            name=selectId
            id=selectId
            class="unified-select-dropdown"
            placeholder=placeholder
            value=selected
            valueKey=valueKey
            displayKey=displayKey
            options=options
            change=(action "selectItem" value="target.value")
            disabled=disabled
        }}
    {{else}}
        <input type="text" class="unified-select-dropdown" id="{{selectId}}" value="{{selectedDisplay}}"
            readonly=true placeholder={{placeholder}} onclick= {{action "open"}} aria-haspopup="listbox" aria-controls={{dropdownId}} aria-expanded={{isOpen}} disabled={{disabled}}>
        {{#unless emptyOptions}}
            <div class="unified-select-dropdown-container {{dropdownClasses}}" tabindex="-1">
                {{#if showModalHeader}}
                    <div class="unified-select-dropdown-header">
                        {{#if showModalSearch}}
                            {{input class="unified-select-filter-input" placeholder=label value=queryString aria-controls=dropdownId aria-label=filterLabel}}
                            <button class="unified-select-close-query" {{action "clearQuery"}} aria-label={{clearLabel}}>
                                <img class="icon" src="../../ember-unified-select/images/close-icon.svg" alt={{clearLabel}} aria-hidden="true">
                            </button>
                        {{else}}
                            <div class="unified-select-dropdown-label">{{label}}</div>
                            {{#if searchableOptions}}
                                <button class="unified-select-search-btn" {{action "searchOptions"}} aria-label={{filterLabel}}>
                                    <img class="icon"  src="../../ember-unified-select/images/search-icon.svg" alt={{filterLabel}} aria-hidden="true">
                                </button>
                            {{/if}}
                        {{/if}}
                    </div>
                {{/if}}
                <ul id={{dropdownId}} class="unified-select-dropdown-list {{if showModalSearch "search-visible"}}" role="listbox">
                    {{#each filterableOptions as |option index|}}
                        {{#if isDeepOptions}}
                            <li data-test-id= {{concat "sbDeepOption" index}}>
                                <a onclick={{action  "selectItem" option}} class="{{if (is-equal selected (get option valueKey)) "selected"}} {{if option.filtered "filtered"}}"
                                    href="javascript://" aria-selected={{is-equal selected (get option valueKey)}} role="option">
                                    {{get option displayKey}}
                                </a>
                            </li>
                        {{else}}
                            <li data-test-id= {{concat "sbFlatOption" index}}>
                                <a onclick={{action  "selectItem" option.val}} class="{{if (is-equal selected option.val) "selected"}} {{if option.filtered "filtered"}}"
                                    href="javascript://" aria-selected={{is-equal selected option.val}} role="option">
                                    {{option.val}}
                                </a>
                            </li>
                        {{/if}}
                    {{/each}}
                    {{#if showEmptyState}}
                        <div class="unified-select-dropdown-empty empty-state">
                            <img class="icon" src="../../ember-unified-select/images/search-icon.svg" alt={{emptyFilterText}} aria-hidden="true">
                            <p>{{emptyFilterText}}</p>
                        </div>
                    {{/if}}
                </ul>
                <button class="retain-focus sr-only" onfocus={{action "refocus"}}></button>
            </div>
        {{/unless}}
    {{/if}}
</div>